#java1{
 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10%;

    
}
p{
  font-size: xx-large;
  text-align: center;
  font-weight: 500;
}
p span{
  color: #246DA9;
}
img{
  
  border-radius: 20px;
}
footer{
  margin-top: 50px;
}
@media only screen and (max-width: 770px){
 #java1{
  margin-top: 30%;
  
 }
}
